* {
  padding: 0;
  margin: 0;
}
body {
  height: auto;
}
.entire {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main {
  /* display: flex; */
  width: 75%;
  height: auto;
  margin-left: 25%;

  /* border: solid black 1px; */
  /* flex-direction: column; */
}

.side {
  display: flex;
  height: 100vh;
  width: 25%;
  border: solid black 1px;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
}
.select {
  border-radius: 5px;
  padding: 10px;
}
.side a {
  text-decoration: none;
  color: #c0c0c0;
  font-size: 20px;
}
.select:hover {
  background-color: blanchedalmond;
  color: #000000;
}
.navigationBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #000000; /* Black gradient background */
  background-image: linear-gradient(to bottom right, #000000, #333333);
}
.navigationBar input {
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 14px;
}
table {
  margin: 20px 0;
}
.section1 {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.box {
  height: 300px;
  width: 350px;
  background-color: aquamarine;
  border-radius: 50px;
  margin: 10px;
}
table {
  border: solid black 1px;
  border-collapse: collapse;
  text-align: center;
}
tr {
  height: 39px;
  border: solid black 1px;
}
td {
  border: solid black 1px;
}
th {
  border: solid black 1px;
}
.Workspace p {
  font-size: 50px;
  padding: 10px;
}

